/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* General body styling */
body {
    background-color: #000a5f;
    color: #F8F9FC;
    line-height: 1.6;
    padding: 20px;
    margin-top: 100px;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: #F8F9FC;
    text-align: center;
    padding: 20px 0;
}

/* Navigation */
nav {
    text-align: center;
    margin: 10px 0;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #eee;
    }

nav a {
    float: center;
    display: block;
    text-decoration: none;
    color: #F8F9FC;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: #1E3765;
    background-color: #fff
}

li {
    float: left;
    list-style-type: none;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

/* li a:hover {
    background-color: #4CAF50;
    padding: 14px 16px;
} */

.active {
    background-color: #11213f;
}

/* Main content */
main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
